{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>{{level}}</h1>
    <p class="lead">Practice your skill in {{level}} tasks.</p>
    <!--<p><a href="http://flask.pocoo.org/" class="btn btn-primary btn-large">Learn more &raquo;</a></p>-->
</div>

<div class="row">
    {% if isBusy[0] %}
    <div class="col-md-12" >
      <h2>Continue {{isBusy[1][0]}} {{isBusy[1][1]}} </h2>
      <p>Continue your {{isBusy[1][0]}} {{isBusy[1][1]}} task from where you left off.</p>
      <p><a class="btn btn-primary" href="/assignment">Continue &raquo;</a></p>
    </div>
    {% endif %}
    {% for item in items %}
    <div class="col-md-4">
        <h2>{{item.name.title()}}</h2>
        <p><a class="btn btn-default" href="/check/{{level}}/{{item.name}}">Start Now &raquo;</a></p>
    </div>
    {% endfor %}
  <div class="col-md-4">
    <h2>Results</h2>
    <p>
      See your results in table form, full of helpful information! No need for logging in, you can just watch the stats as you go!
    </p>
    <p><a class="btn btn-default" href="/results">See Now &raquo;</a></p>
  </div>
</div>

{% endblock %}
